<!--Modal-->
<div class="modal" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Search Error</h5>
        <button type="button" class="btn-close" id="closeModall" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
          <p>Please provide a valid search text.</p>
      </div>
      <div class="modal-footer">
          <button type="button" id="closeModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>